<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal">
        练习1


      </div>
    </div>
  </div>
</div>