<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/banner/deleteBanner" method="post">
        <div class="field required">
          <label>id</label>
          <input placeholder="id" type="text" name="id">
        </div>
       
        <input type="submit" class="ui button fluid" value="删除">
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
