<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subjectTitle/create" method="post">
        title: <input type="text" name = "title">
        时间: <input type="text" name = "subjectTime">
        试题类(二级目录): <input type="text" name = "subjectItem">
        <input type="submit" class="ui button fluid" value="添加">
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
