<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subjectTitle/create" method="post">
        title: <input type="text" name = "title"><br/>
        试题时间: <input type="text" name = "subjectTime"><br/>
        试题类(二级目录): <input type="text" name = "subjectItem"><br/>
        考试时间: <input type="text" name = "examTime"><br/>
        <input type="submit" class="ui button fluid" value="添加"><br/>
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
