<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subject/create" method="post">
        问题: <input type="text" name="username" />
        类型: <input type="password" name="password" />
        选项: <input type="text" name="choice">
        答案: <input type="text" name="answer">
        分数: <input type="text" name="score">
        <button type="submit">注册</button>
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
