<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subjectItemType/create" method="post">
        subjectName: <input type="text" name = "subjectName">
        parentType: <input type="text" name="parentType">
        <input type="submit" class="ui button fluid" value="添加">
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
