<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subjectItemType/update" method="post">
        _id: <input type="text" name="_id">
        parentId: <input type="text" name="parentId">
        parentType: <input type="text" name="parentType">
        subjectName: <input type="text" name = "subjectName">
        <input type="submit" class="ui button fluid" value="修改">
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
