<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subjectType/update" method="post">
        subjectType: <input type="text" name = "subjectType">
        _id: <input type="text" name="_id">
        <input type="submit" class="ui button fluid" value="修改">
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
