<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subjectTitle/update" method="post">
        preTitleId: <input type="text" name = "preTitleId"><br/>
        title: <input type="text" name = "title"><br/>
        试题时间(非必须): <input type="text" name = "subjectTime"><br/>
        试题类id(二级目录ID): <input type="text" name = "subjectItemId"><br/>
        考试时间（非必须）: <input type="text" name = "examTime"><br/>
        <input type="submit" class="ui button fluid" value="添加"><br/>
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
