<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <form action="/subjectTitle/updateWeight" method="post">
        <div class="field required">
          <label>推荐</label>
          <input placeholder="权值" type="text" name="weight">
        </div>
        <div class="field required">
          <label>titleId</label>
          <input placeholder="titleId" type="text" name="titleId">
        </div>
        <input type="submit" class="ui button fluid" value="推荐">
      </form>
  </body>
  <script type="text/javascript">


  </script>
</html>
